# Godot cache
.godot/

# Exports
export/
*.pck
*.zip

# Mono / C# (si jamais)
.mono/
data_*/
*.csproj
*.sln

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backup files
*~
*.bak
